.slidePanel {
    z-index: 1401; 
}

.slidePanel-right, .slidePanel-left {
    top: 66.01px;
    bottom: 0;
    /* width: 100%; */
    background: #252525;
}

.slidePanel-right .dropify-wrapper, .slidePanel-left .dropify-wrapper {
    
    height: 100px;
   
}