/*!
	-----------------------------------------------------------------------------

	2.0 - Usuarios
			# Listado
			# Crear
			# Actualizar

	-----------------------------------------------------------------------------
	*/

.ryg-body
	// background-color: red
	background-image: url('../images/login-screen.jpg')
	background-position: 50%
	background-repeat: no-repeat
	background-size: cover
	position: relative
	z-index: 1
	.ryg-body-mask
		background-color: rgba($black,.78)
		bottom: 0
		height: 100%
		left: 0
		position: absolute
		right: 0
		top: 0
		width: 100%

.ryg-page
	background-color: transparent
	.page-header
		.breadcrumb
			align-content: center
			display: flex
			justify-content: flex-start
			width: calc(100% - 200px)
			.breadcrumb-title
				color: $ryg-aqua
				font-size: 1rem
				font-weight: $light
				line-height: 2
				margin: 0
				min-width: 152px
			.breadcrumb-search
				.breadcrumb-search-form
					align-content: center
					display: flex
					justify-content: flex-start
					.breadcrumb-search-form-input,
					.breadcrumb-search-form-select
						background-color: $ryg-second
						border: none
						color: $ryg-aqua
						font-size: 1rem
						font-weight: $light
						margin-left: 20px
						+placeholder
							color: rgba($ryg-aqua,.6)
							font-size: 1rem
							font-weight: $light
						&:focus
							outline: none

					.breadcrumb-search-form-select
						+border-radius(30px)
						padding: 6px 20px
					.breadcrumb-search-form-input
						+border-radius(3px)
						padding: 6px 16px
						width: 13%
	
	.page-content
		.panel
			background-color: transparent
			.list-group-item
				background-color: transparent

.ryg-footer
	align-items: center
	background-color: rgba($ryg-primary, .5)
	border: 1px solid transparent
	bottom: 0
	display: flex
	height: auto
	justify-content: flex-end
	left: 0
	padding: 8px 24px
	position: fixed
	right: 0
	width: 100%
	z-index: 2
	&:after
		display: none
	+respond-to(tl)
		flex-direction: column
		justify-content: center
	+respond-to(tp)
		flex-direction: column
		justify-content: center
	+respond-to(sl)
		flex-direction: column
		justify-content: center
	+respond-to(sp)
		flex-direction: column
		justify-content: center
	.login-footer-copyright
		p
			color: #AAB1AB
			font-size: .9rem
			margin-bottom: 0
	.login-footer-author
		img
			display: flex
			height: 26px
	

/*  Listado
	======================================= */
.ryg-header
	background-color: $ryg-primary
	border-color: $ryg-primary
	.navbar-header
		.navbar-brand
			.navbar-brand-logo
				height: 19px
	
	.navbar-container
		.nav
			.nav-item
				.nav-link
					.user-name
						display: inline-block
						color: $ryg-accent
						padding-right: 8px

.site-menubar.site-menubar-light,
.ryg-menubar
	background-color: $ryg-second
	.site-menu
		li
			a
				color: $ryg-green